#app {
  text-align: center;
  background: #000000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #5c5c5c 100%);
  background: -webkit-linear-gradient(-45deg, #000000 0%, #5c5c5c 100%);
  background: linear-gradient(135deg, #000000 0%, #5c5c5c 100%);
  min-width: 1000;
  min-height: 500;
}
